* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

#img1 {
    height: 70px;
    width: 250px;
}

/* Navigation Links */
.navlinks {
    display: flex;
    gap: 20px;
}

.navlinks a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #f7f7fb;
    transition: background-color 0.3s ease;
}

.navlinks a:hover {
    background-color: #e0e0e0;
}

.header-button button {
    background-color: #94c11f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease, scale 0.3s ease-in-out;
}

/* Button Styles */
.header-button button:hover {
    scale: 1.3;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
    }

    #img1 {
        margin-bottom: 10px;
    }

    .navlinks {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin-top: 10px;
    }

    .header-button {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .navlinks a {
        font-size: 14px;
        padding: 8px 16px;
    }

    .header-button button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* transition effect */
.translate { 
    transform: translateX(60px) translateY(120px);
}